body {
    margin: 0;
    padding: 0;
}

.container {
    width: 85% !important;
}
@import "variables.css";
@import "home.css";
@import "cmo-home.css";
@import "nmd-home.css";
@import "cmo-detail.css";
@import "yearbook.css";
@import "jobs.css";
@import "jobs-new.css";
@import "header.css";
@import "footer.css";
@import "login.css";
@import "pending.css";
@import "register.css";
@import "avd-home.css";

body {
    background-color: #fff;
}
