body {
    margin: 0;
    padding: 0;
}

.container {
    width: 85% !important;
}
@import "variables.css";
@import "home.css";
@import "cmo-home.css";
@import "nmd-home.css";
@import "cmo-detail.css";
@import "yearbook.css";
@import "header.css";
@import "footer.css";
