.o-cmo-detail-header {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    margin: 0 auto;
    margin-top: 3rem;
    width: 90%;
    max-width: 800px;
    margin-bottom: 3rem;


}
.o-cmo-detail-main {
    margin: 0 auto;
    margin-top: 2rem;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-gap: 1rem;
    grid-auto-rows: 200px;
    max-width: 850px;
}
/* responsive grid */
@media only screen and (max-width: 760px) {
    .o-cmo-detail-main {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
  }

.a-cmo-detail-catchprase {
    color: var(--color-accent);
    font-style: italic;
    margin: 2rem 0;
}
.a-cmo-detail-bio {
    max-width: 800px;
    color: var(--color-accent);
    font-size: 15pt;
    font-weight: 100;
    margin: 2rem 0;
    margin-top: 0.5rem;
}
.m-cmo-detail-container {
    position: relative;
    width: 220px;
    height: 220px;
}
@media only screen and (max-width: 767px) {
    .m-cmo-detail-container {
        width: 170px;
        height: 170px;
    }
  }
.a-cmo-detail-profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.a-cmo-detail-profile-tag {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 0;
    background-color: var(--color-cmo);
    color: var(--color-white);
    border: 7px solid var(--color-white);
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    margin: 0;
    font-weight: 800;
}

.a-cmo-detail-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.a-student-detail-page {
    font-size: 19pt;
    font-weight: bold;
    color: var(--color-accent);
}
.m-student-detail-info {
    margin-left: 1rem;
}
@media only screen and (max-width: 575px) {
    .m-student-detail-info {
        margin-top: 1rem;
    }
}
