/* sub course filter */
.o-sub-courses {
    margin-top: 2rem;
    justify-content: space-evenly;
    align-items: center;
}

.a-sub-course-title {
    background-color: var(--color-accent);
    color: var(--color-white);
    text-align: center;
    border-radius: 18px;
    padding: 1px 0;
    font-weight: bold;
}

a.a-sub-course-title:link,
a.a-sub-course-title:visited {
    color: var(--color-white);
    text-decoration: none;
    border: 4px solid var(--color-accent);

}

a.a-sub-course-title:hover {
    border: 4px solid var(--color-accent);
    color: var(--color-accent);
    background-color: var(--color-white);

}

.o-cmo-portfolio {
    width: 80%;
    max-width: 840px;
    margin: 0 auto;
    margin-top: 2rem;
    display: grid;
    /* grid-template-columns: 3fr 2fr; */
    /* grid-template-columns:repeat(auto-fill, minmax(250px,1fr)); */
    /* grid-template-columns: repeat(auto-fill, minmax(250px, 3fr)); */
    grid-template-columns: 3fr 2fr;
    grid-gap: 1rem;
    grid-auto-rows: 200px;
}

.m-portait {
    grid-row-end: span 3;
}

.m-landscape {
    grid-row-end: span 1;

}

/* Randomize gride size */

/* .m-cmo-img:nth-child(odd) {
    grid-row-end: span 3;

}
.m-cmo-img:nth-child(even) {
    grid-row-end: span 1;

} */

.m-cmo-img:hover img {
    transform: scale(1.02);
    overflow: hidden;
}
.a-cmo-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    cursor: pointer;
}


.a-cmo-card-name {
    text-align: center;
}

.a-cmo-tagline {
    text-align: center;
}


/* modal */
.a-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(243,129,129);
    background: linear-gradient(145deg, rgba(243,129,129,0.65) 0%, rgba(252,226,138,0.65) 115%);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;

}

.o-modal-content {
    box-shadow: var(--box-shadow);
    align-self: center;
    background-color: var(--color-white);
    padding: 1rem;
    /* width: 24rem; */
    border-radius: 0.5rem;
    width: 80%;
}
.a-cmo-modal-image {
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.show {
    opacity: 1;
    visibility: visible !important;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.a-cmo-portfolio-description {
    padding-bottom: 2rem;
    box-sizing: border-box;
}

.m-cmo-portfolioBtn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}


/* link styling  */
.a-cmo-portfolioBtn {
    color: var(--color-white);
    background-color: var(--color-accent);
    font-size: 14pt;
    font-weight: bold;
    padding: 1px 30px;
    border-radius: 20px;
    border: 4px solid var(--color-accent);
    cursor: pointer;
}

a.a-cmo-portfolioBtn:link,
a.a-cmo-portfolioBtn:visited {
    color: var(--color-white);
    text-decoration: none;
    border: 4px solid var(--color-accent);

}

a.a-cmo-portfolioBtn:hover {
    border: 4px solid var(--color-accent);
    color: var(--color-accent);
    background-color: var(--color-white);
    text-decoration: none;


}

/* close btn */
i.fa-times {
    cursor: pointer;

    font-size: 24pt;
    color: var(--color-accent);
}

/* responsive grid */
@media only screen and (max-width: 760px) {
    .o-cmo-portfolio {
    grid-template-columns: repeat(auto-fill, minmax(250px, 3fr));
}
}
