.o-jobcontainer {
    padding-top: 2rem;
    width: 80%;
    margin: 0 auto;
}
.m-job-new-link {
    display: flex;
    justify-content: flex-end;
    color: var(--color-accent);
    font-weight: 800;
    margin-bottom: 1rem;
}
a.a-job-new-link:hover {
    color: var(--color-accent);
    text-decoration: none;
}
a.a-job-new-link:link {
    color: var(--color-accent);
}

.o-job-card {
    border: 3px solid var(--color-border);
    border-radius: 1.4rem;
    padding: 1rem;
    margin-bottom: 1rem;
}
.a-job-title {
    color: var(--color-accent);
    font-size: 24pt;
    font-weight: 600;
}
.a-job-hashtags {
    color: var(--color-accent);
}
.a-job-description {
    color: var(--color-portfolio-home-text);
}
.o-job-deadline {
    display: flex;
    align-items: center;
}
.a-job-deadline {
    color: var(--color-accent);
    font-weight: 800;
}
.o-job-contact {
    display: flex;
    justify-content: flex-end;
}
.a-job-contact {
    background-color: var(--color-accent);
    color: var(--color-white);
    width: 8rem;
    border-radius: 6rem;
    padding: 0.5rem;
    display: block;
    font-weight: 800;
    text-align: center;
}
.o-job-date {
    display: flex;
    justify-content: end;
    color: var(--color-portfolio-home-text);

}
