.o-job-new-container {
    padding-top: 2rem;
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
    border: 3px solid var(--color-border);
    border-radius: 3rem;
}
.m-new-job-input {
    display: flex;
    justify-content: flex-end;
}
.a-new-job-label {
    font-weight: 700;
    color: var(--color-accent);
    padding-right: 1rem;
}
.a-new-job-input {
    background-color: hsla(0, 47%, 95%, 25);
    border: none;
    border-radius: 9rem;
    padding-left: 1rem;
    color: var(--color-accent);
    width: 250px;
    height: 40px;
    margin-bottom: 1rem;
}
.a-new-job-input-deadline {
    text-align: center;
}
.a-new-job-input-textArea {
    background-color: hsla(0, 47%, 95%, 25);
    border: none;
    border-radius: 1rem;
    padding-left: 1rem;
    color: var(--color-accent);
    width: 250px;
    height: 250px;
    margin-bottom: 1rem;
}
.o-new-job-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.a-new-job-button {
    background-color: var(--color-accent);
    border-radius: 9rem;
    padding: 0.5rem;
    width: 200px;
    border: none;
    color: var(--color-white);
    font-weight: 700;
    margin-bottom: 1rem;
}
