.o-login-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    border-radius: 15px;
    border: 3px solid var(--color-border);
    padding: 3rem;
}
.m-login-menu {
    /* width: 70vw; */
}
.a-login-label {
    font-weight: bold;
    color: var(--color-accent);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
@media only screen and (max-width: 767px) {
    .a-login-label {
        justify-content: flex-start;

    }
  }
.a-login-input {
    background-color: var(--color-input);
    border: none;
    border-radius: 9rem;
    padding-left: 1rem;
    color: var(--color-accent);
    width: 250px;
    height: 40px;
    margin-bottom: 1rem;
}
.a-login-button {
    border: 3px solid var(--color-white);
    background-color: var(--color-accent);
    color: var(--color-white);
    font-weight: bold;
    width: 250px;
    height: 40px;
    border-radius: 25px;
}
.a-login-button:hover {
    border: 3px solid var(--color-accent);
    background-color: var(--color-white);
    color: var(--color-accent);
}
.a-remember-me {
    color: var(--color-accent);
    padding-left: 0.5rem;
}
