:root {
    --color-main: #4D4F9C;
    --color-accent: #C4314B;

    --color-cmo: #44B732;
    --color-nmd: #E02C31;
    --color-avd: #FFC400;
    --color-gmb: #A8A8A8;

    --color-white: #fafaf5;
    --color-black: #00000F;

    --box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.57);
}

/* Background colors  */

.a-bg-color-cmo {
    background-color: var(--color-cmo);
}
.a-bg-color-nmd {
    background-color: var(--color-nmd);
}
.a-bg-color-avd {
    background-color: var(--color-avd);
}
.a-bg-color-gmb {
    background-color: var(--color-gmb);
}
