.a-page-title {
    text-align: center;
}
.o-yearbook-filter {
    display: flex;
    justify-content: space-evenly;
}
.o-yearbook-students {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 1.5rem;
    width: 70vw;
}
.o-yearbook-students::after {
    width: 80%;
}

.o-studentcards {
    width: 95%;

    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.m-yearbook-image-container {
    position: relative;

    width: min-content;

}
.a-yearbook-profilepicture {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
}
.a-yearbook-student-name {
    text-align: center;
}
.a-yearbook-student-major {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
    position: absolute;
    background-color: var(--color-cmo);
    color: var(--color-white);
    border: 7px solid var(--color-white);
    height: 9vh;
    width: 9vh;
    border-radius: 50%;
    font-weight: 800;
    bottom: 0;
    right: 0;
}
.a-yearbook-student-major-cmo {
    background-color: var(--color-cmo);
}
.a-yearbook-student-major-avd {
    background-color: var(--color-avd);
}
.a-yearbook-student-major-nmd {
    background-color: var(--color-nmd);
}
.a-yearbook-student-major-gmb {
    background-color: var(--color-gmb);
}
.a-yearbook-student-name {
    color: #C4314B;
    font-weight: 501;
    font-size: 14pt;
    padding-top: 0.7rem;
}

