.a-page-title {
    text-align: center;
}
.o-yearbook-students {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
    width: 70vw;
}
.o-yearbook-students::after {
    content: '';
    flex: auto;
}

.o-studentcards {
    flex: 10% 0 0;
    padding: 0.5rem;
}

.a-yearbook-profilepicture {
    width: 100%;
}
.a-yearbook-student-name {
    text-align: center;
}
.a-yearbook-student-major {
    text-align: center;
}

